.loading {
    background: red;
}

.dot {
    margin: 0.1em;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: black;
    animation: scaling 2.5s ease-in-out infinite;
}


@keyframes scaling {
    0%, 100% {
        transform: scale(0.2)
    }
    50% {
        transform: scale(1)
    }
}

.dot:nth-child(0) {
    animation-delay: 0s
}

.dot:nth-child(1) {
    animation-delay: 0.5s
}

.dot:nth-child(2) {
    animation-delay: 1s
}
